/vendor
/node_modules
.env
.phpunit.result.cache
storage/*.key
public/storage
public/hot
public/build
storage/app/public
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log